{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "env": {
      "node": {
        "plugins": [
            [
                "babel-plugin-transform-require-ignore",
                {
                    "extensions": [".css"]
                }
            ],
            "react-hot-loader/babel"
        ]
      }
    }
}
